body {
  background-color: #d6e1f0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.container {
  background: white;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  margin-top: 70px;
  border-radius: 20px;
}
.card {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 0;
}
img {
  border-radius: 10px;
  padding: 5px;
}
h3 {
  text-align: center;
  margin: 0;
  font-family: cursive;
  color: hsl(218, 44%, 22%);
}
p {
  text-align: center;
  font-family: cursive;
  margin: 0;
  color: hsl(220, 15%, 55%);
}
